
html{
    font-size:15px;
    font-family:'Lexend Deca', sans-serif;
}

body{
    background-color: hsl(233, 47%, 7%); 
}

a, strong{
    color:  hsl(277, 64%, 61%);
}

.target__containet{
    height: auto;
    text-align: center;
    margin:90px 17px;
    border-radius: 15px;
    background-color: hsl(244, 38%, 16%);
}

.target__img{
    background-image: url("/assets/image-header-mobile.jpg");
    background-color:hsla(277, 64%, 61%, 0.8);
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 15em;
    background-blend-mode: multiply;
}

.target__content{
    padding:15px 20px;
    font-family: 'Inter', sans-serif;
    color: hsl(0, 0%, 100%);
}

.target__inf{
    font-size: 1.1rem;
    line-height:1.5;
    color:hsla(0, 0%, 100%, 0.6);
}
.target__option{
    text-transform: uppercase;
    line-height:1px;
    margin-top:40px;
}

.attribution{
    text-align: center;
    line-height:1.6;
    color: hsl(0, 0%, 100%);
}

@media (min-width:385px){
    .target__containet{
        width:367px;
        margin:100px auto;
    }
    .target__content{
        padding:15px 30px;
    }
    .target__inf{
        font-size:1.2rem;
    }
    .attribution{
        font-size:1.2rem;
    }

}
@media (min-width:768px){
    .target__containet{
        width:600px;
        margin:100px auto;
    }
    .target__img{
        width:100%;
        height:20em;
    }
    .target__content{
        padding:20px 60px;
    }
    .target__inf{
        font-size:1.3rem;
    }

}
@media (min-width: 1280px){
    .target__containet{
        display:flex;
        flex-direction: row-reverse;
        width:auto;
        text-align: left;
        margin:120px 100px;
    }
    .target__img{
        background-image: url("/assets/image-header-desktop.jpg");
        max-width:50%;
        height:34em;
        border-top-right-radius:15px;
        border-top-left-radius: 0px;
        border-bottom-right-radius: 15px;
    }
    .target__content{
        width:50%;
        padding: 60px 90px 30px 60px;
        text-align: left;
    }
    .target__title{
        font-size:2.1rem

    }
    .target__options{
        display: flex;
        justify-content:space-evenly;
        text-align:center;
        margin-right:15px;
    }
    .target__inf{
        font-size:1.1rem;
    }
}

@media (min-width:1331px) {
    .target__containet{
        max-width:1220px;
        margin:120px auto;
    }
    .target__title{
        font-size:2.5rem
    }
    .target__inf{
        font-size:1.3rem;
    }

}